body {
	background-color: gray;
	width: 75%;
	margin: auto;
}

header {
	padding: 20px;
	margin-bottom: 10px;
	background: #ebebeb;
	font-size: 18px;
	font: Arial;
	color: #777;
	text-align: center;
	margin-top: 15px;

}

#navigation {
	padding: 20px;
	margin-bottom: 20px;
	background: #ebebeb;
	font-size: 18px;
	font: Arial;
	color: #777;
	text-align: center; 
}

#section {
  padding: 20px;
  margin-bottom: 10px;
  background: #ebebeb;
  font-size: 18px;
  font: Arial;
  color: #777;
  float:left; 
  width: 500px;
  height: 300px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;

}
	#aside	{
	padding: 20px;
	background: #ebebeb;
	color: #777;
	width: 300px;
	height: 300px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
}
	#article {
	background: gray;
	/*height: 200px;*/
	width: 470px;
	color: white;
	margin-top: 80px;
	font-size: 18px;
	text-align: center;
	margin-left: 10px;



	}

	#p {
	background: #ebebeb;
	font-size: 18px;
	font: arial;
	color: #777;
	height: 55px;
	width: 400px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 70px;
	margin-left: 30px;
}
	#hello {
		background: #FFF;
	font-size: 18px;
	font: arial;
	color: #777;
	height: 55px;
	width: 400px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 30px;

	}

	#footer {
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 15px;
	background: #ebebeb;
	font-size: 18px;
	font: Arial;
	color: #777;
	text-align: center; 
}
	
